<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="tempFilePath" value="/var/folders/jy/l1_1xwy57sgfsd3808w7l2vr0000gn/T/startLearnGo-darwin-10.6-amd64.dylib8828731022228986202" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>